<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <title>Liste des réservations</title>
  <link rel="stylesheet" th:href="@{/resa/list/list-style.css}">
  <link rel="icon" th:href="@{/resa/images/logo.png}" type="image/png">
</head>
<body>
<header>
  <div id="logo"><img th:src="@{/resa/images/logo.png}" alt="" srcset=""></div>
  <h1>Pas Loin Pas Cher !</h1>
</header>
<main>
  <h1>Liste des réservations</h1>
  <a th:href="@{/resa}">Retourner à l'accueil</a>
  <table>
    <thead>
    <tr>
      <th>Nombre de Personnes</th>
      <th>Date</th>
      <th>Destination</th>
      <th>Nom</th>
      <th>Email</th>
      <th>IBAN</th>
      <th>Virement</th>
      <th>Promo</th>
      <th>Condition</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservation}">
      <td th:text="${reservation.nbPersonne}"></td>
      <td th:text="${reservation.date}"></td>
      <td th:text="${reservation.destination}"></td>
      <td th:text="${reservation.nom}"></td>
      <td th:text="${reservation.email}"></td>
      <td th:text="${reservation.iban}"></td>
      <td th:text="${reservation.virement}"></td>
      <td th:text="${reservation.promo}"></td>
      <td th:text="${reservation.condition}"></td>
    </tr>
    </tbody>
  </table>
</main>
<footer>Copyright ©2042 | Agence Pas Loin Pas Cher (Pour me contacter: <a href="mailto:bastienbories81@gmail.com" >m'écrire</a> )</footer>
</body>
</html>